@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

h1, h2 {
  margin: 0;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

p {
  margin: 0;
  font-size: 1rem;
}

a {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: inherit;
  border: none;
}

.d-flex, .navbar__inner, .footer__inner, .navbar__links, .footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar.filled {
  background-color: black;
}

.navbar__brand img, .footer__brand img {
  width: 150px;
}

.navbar__inner, .footer__inner {
  padding: 25px 100px;
}

@media screen and (max-width: 768px) {
  .navbar__inner, .footer__inner {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 425px) {
  .navbar__inner, .footer__inner {
    padding: 25px 25px;
  }
}

.navbar__menu, .navbar__links {
  margin-left: auto;
}

.navbar__menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: block;
  }
}

.navbar__menu img[data-label="close"] {
  display: none;
}

.navbar__menu.show img[data-label="hamburger"] {
  display: none;
}

.navbar__menu.show img[data-label="close"] {
  display: block;
}

.navbar__menu.show + .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar__links {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: black;
    z-index: -1;
  }
}

.navbar__link {
  margin: 0 1rem;
}

.navbar__link a {
  position: relative;
}

.navbar__link a::after {
  content: '';
  display: block;
  width: 0%;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 2px solid white;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  margin: auto;
}

.navbar__link a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navbar__link {
    margin: 1rem 50px;
    font-family: "Josefin Sans", sans-serif;
  }
  .navbar__link a {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 425px) {
  .navbar__link {
    margin: 1rem 25px;
  }
}

.footer {
  background: black;
  color: white;
}

.footer__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__inner {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__brand {
  display: block;
  margin: 1rem 0;
}

.footer .footer__links {
  margin-bottom: 1rem;
}

@media screen and (max-width: 425px) {
  .footer .footer__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .footer .footer__links:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__links:nth-child(2) .footer__link {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 425px) {
  .footer .footer__links:nth-child(1) .footer__link {
    margin: 0 1rem;
  }
}

.footer .footer__link {
  margin: 0 2rem 0 0;
}

.footer .footer__link a {
  position: relative;
}

.footer .footer__link a::after {
  content: '';
  display: block;
  width: 0%;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 2px solid white;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  margin: auto;
}

.footer .footer__link a:hover::after {
  width: 100%;
}

.footer .footer__reserved {
  display: block;
  color: dimgray;
}
/*# sourceMappingURL=global.css.map */