.button{
	color:$c-black;
	text-decoration:none;
	text-transform: uppercase;
	display: block;
	width: fit-content;
	padding:0.5rem 2rem;
	border:1px solid $c-very-dark-gray;
	&:hover{
		background-color: $c-black;
		border-color: transparent;
		color:$c-white;
	}
}

.creations .button{
	margin:auto;
	@include min-query($d-laptop){
		display: none;
	}
}

.creations__header .button{
	margin:0 0 0 auto;
	display: none;

	@include min-query($d-laptop){
		display: block;
	}
}