
/*****************
* COLORS
******************/
$c-white:hsl(0, 100%, 100%);
$c-black: hsl(0, 0%, 0%);
$c-dark-gray:hsl(0, 0%, 55%);
$c-very-dark-gray:hsl(0, 0%, 41%);

/*****************
* DEVICES
******************/
$d-tablet:768px;
$d-laptop:1020px;

/*****************
* FONTS
******************/
$ff-alata:'Alata', sans-serif;
$ff-josefin:'Josefin Sans', sans-serif;
$fw-light:300;
