@import 'color';
@import 'typography';
@import 'breakpoints';
@import 'reset';

$padding-desktop: 100px;
$padding-tablet:50px;
$padding-mobile: 25px;

@import 'navbar';
@import 'footer';

