
.footer{
    background:black;
    color:white;

    &__inner{
        @extend .navbar__inner;
        justify-content: space-between;

        @include tablet-query{
            text-align: center;
            flex-direction: column;
        }
    }

    &__brand{
        display: block;
        @extend .navbar__brand;
        margin:1rem 0;
    }

    .footer__links{
        @extend .d-flex;
        margin-bottom:1rem;

        @include mobile-query{
            justify-content: center;
        }
    }

    .footer__links:nth-child(2){    //links
        @include mobile-query{
            flex-direction: column;

            .footer__link{
                margin:0 0 2rem 0;
            }
        }
    }

    .footer__links:nth-child(1) .footer__link{    //social media
        @include mobile-query{  
            margin:0 1rem;
        }
    }

    .footer__link{
        margin:0 2rem 0 0;
    }

    .footer__link a{
        @include nav-link-animation;
    }

    .footer__reserved{
        display: block;
        color: $dark-gray2;
    }
}