@import 'color.scss';
@import 'typography.scss';
@import 'breakpoints.scss';
@import 'reset.scss';

$padding-desktop: 100px;
$padding-tablet:50px;
$padding-mobile: 25px;

@import 'navbar.scss';
@import 'footer.scss';

