
html,body{
    margin:0;
    padding:0;
    font-family: $font-alata;
}

h1,h2{
    margin:0;
    font-weight: 300;
    font-family: $font-josefin;
}

h1{
    font-size: $h1-size;
    @include tablet-query{
        font-size:$h1-tablet-size;
    }

    @include mobile-query{
        font-size:$h1-mobile-size;
    }
}

h2{
    font-size: $h2-size;
    @include tablet-query{
        font-size:$h2-tablet-size;
    }
}

p{
    margin:0;
    font-size:1rem;
}

a{
    font-size:1rem;
    color:inherit;
    text-decoration: none;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

button{
    background:inherit;
    border:none;
}