@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

$font-alata:'Alata', sans-serif;
$font-josefin:'Josefin Sans', sans-serif;

$h1-size:4rem;
$h1-tablet-size:3rem;
$h1-mobile-size:2.5rem;
$h2-size:3rem;
$h2-tablet-size:2rem;
